# Fichiers à ignorer pour le répertoire et la sauvegarde distants

# Fichiers système
.DS_Store
Thumbs.db

# Editeurs / IDE
.vscode/
.idea/

# Fichiers temporaires ou logs
*.log

# Fichiers de travail
web/